/* CSS files --> Contact.html */
body{background-color:#00A19D;}
table{width:100%; text-align: center} 
/* div */
.table-menu td:hover { background-color:#E05D5D;}
.table-menu td {background-color:#FFB344;font-family: cursive;}
/* tag */
h1{text-align: center; font-family: cursive;color:#FFF8E5}
label{font-family: cursive;color:#FFF8E5}
p{font-family: cursive;color:#FFF8E5}
a{font-family: cursive;color:#FFF8E5}